<% content_for :title do %>
  <span>
    Dishes
  </span>
<% end %>

<% content_for :new_button do %>
  <%= link_to "New Dish", new_dish_path, class: btn_primary %>
<% end %>

<div id="dishes" class="w-full overflow-hidden ">

  <% if @dishes.empty? %>
    <div class="p-4 text-zinc-800 bg-white flex justify-center">
      <strong>No dishes yet</strong>
    </div>
  <% else %>
    <div class="grid grid-cols-4">
      <% @dishes.each do |dish| %>
        <%= render "card", dish: dish %>
      <% end %>
    </div>
  <% end %>

</div>
